nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nav-left nav nav-right"  ;
   
}
  
.nav-left {
    grid-area: nav-left;
    justify-self: flex-start;
}
  
.nav-right {
    grid-area: nav-right;
    justify-self: flex-end;
}
a{
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

/* a{
    display: flex;
    justify-content: left;
    margin-right: 5px;
    text-decoration: none;
    color: black;
} */

section{    
    display: flex;
    align-items: center;
    justify-content: center;        
}

main{
    display: flex;
    align-items: center;
    justify-content: center;        
    padding-bottom: 10px;
    flex-direction: column;
    margin-top: 200px;
}
#search{
    width: 600px;
}
#buttons{
    padding-top: 20px;
    margin: 10px;
}
